.game-timer {
    margin-left: auto;
    border-radius: 10px;
    border: white solid;
    padding: 0.2em 0.5em;
    color: black;
    background-color: white;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}