//text variables
$font-family: system-ui, Arial;
$spacing: 0.1em;
$text-color: white;

$normal-weight: bold;

$bold-weight: 800;
$big-size: 120%;

$light-weight: 600;
$small-size: 80%;

$lighter-weight: 500;

//background-color
$bg: #312e2b;
$dark-bg: #272522;

$icon-padding: 1em;
$round-border: 15px;